@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
body{
    background-color: hsl(0, 0%, 8%);
}
a{
    display: block;
    margin: 20px;
    background-color:hsl(0, 0%, 20%) ;
    color: hsl(0, 0%, 100%);
    padding: 14px;
    border-radius: 10px;  
    text-decoration: none;
 }
li{
    display: inline;
    font-family: "Inter", sans-serif;
    font-size: 14px;
    font-weight: 700;
}
    a:hover{
        background-color:hsl(75, 94%, 57%) ;
        color: black;
    }
.Section{
    background-color:hsl(0, 0%, 12%) ;
    margin: 100px auto;
    width: 25%;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 10px;
    padding:15px ;
    padding-top: 30px;
}
.two{
    margin-top: -10px;
    color: hsl(75, 94%, 57%) ;
    font-family: "Inter", sans-serif;
    font-weight: 700;
    font-size: 14px;
}
.three{
    margin-top: 30px;
    margin-bottom: 22px;
    color: hsl(0, 0%, 100%);
    font-family: "Inter", sans-serif;
    font-weight: 300;
    font-size: 13px;
}
h1{
    color: hsl(0, 0%, 100%);   
    font-family: "Inter", sans-serif;
    font-weight: 600;
    font-size: 23px;
    margin-top: 18px;
}
img{
    border-radius: 50%;
    width: 25%;
    margin-top: 15px;
}
@media(max-width:760px){
    .Section{
        width: 85%;
        padding:5px;
        margin-top: 150px;
    }
   
}
